<div class="emitents glide">
    <div class="emitents__in">
        <div class="news-list__top">
            <div class="news-list__title global__block-title">Эмитенты</div>
            <div class="all__link">
                <div class="arrow arrow--slider" data-glide-el="controls">
                    <div class="arrow__slider arrow__slider--next" data-glide-dir="<">
                        <img src="img/prev.svg" width="100%" alt="">
                    </div>
                    <div class="arrow__slider arrow__slider--prev" data-glide-dir=">">
                        <img src="img/next.svg" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="emitents__bottom">
            <div class="emitents__items emitents__items--slider" data-glide-el="track">
                <div class="glide__slides">
                    @@for ($i = 0; $i < 5; $i++) {
                        <div class="emitents__item">
                            <a href="/emitents.html" class="emitents__item-top">
                                <div class="emitents__item-top_left">Акции</div>
                                <div class="emitents__item-top_right">
                                    <img src="img/all_arrow.svg" width="100%" alt="">
                                </div>
                            </a>
                            <div class="emitents__bottom">
                                @@for ($k = 0; $k < 6; $k++) {
                                    <a href="#" class="emitents__bottom_item">
                                        <div class="left">
                                            <div class="icon">
                                                <img src="http://placehold.it/38x38" alt="">
                                            </div>
                                            <div class="texts">
                                                <div class="name">Manchester United</div>
                                                <div class="comp">ORCL</div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="percent">(+6,79%)</div>
                                            <div class="price">$24,99</div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>