.article-page {
    color: #180D2F;
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
    }
    &__info_left {
        display: flex;
        align-items: center;
        grid-gap: 34px;
    }
    &__info_item {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        font-size: 16px;
        font-weight: 200;
        line-height: 200%;
        letter-spacing: 0.64px;
        &:last-child .text {
            @media all and (max-width:991px) {
                display: none;
            }
        }
        .icon {
            display: flex;
        }
        @media all and (max-width:991px) {
            font-size: 10px;
            line-height: 180%; 
            letter-spacing: 0.6px;
            grid-gap: 8px;
        }
    }
    &__text {
        &__image img {
            width: 100%;
        }
        &__bold {
            font-size: 16px;
            font-weight: 720;
            line-height: 200%;
            letter-spacing: 0.64px;
            margin: 60px 0;
            span {
                color: #FF002E;
            }
            @media all and (max-width:991px) {
                margin: 40px 0;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.48px;
            }
        }
        &__light {
            padding-bottom: 60px;
            border-bottom: 1px solid #180D2F;
            @media all and (max-width:991px) {
                padding-bottom: 40px;
            }
            &:first-child h2 {
                margin-top: 0;
            }
            h2 {
                font-size: 32px;
                font-weight: 720;
                line-height: 140%; 
                letter-spacing: 1.92px;
                margin-top: 60px;
                margin-bottom: 20px;
                @media all and (max-width:991px) {
                    font-size: 17px;
                    letter-spacing: 1.02px;
                    margin-bottom: 18px;
                    margin-top: 40px;
                }
            }
            p, ul li {
                font-size: 16px;
                font-weight: 200;
                line-height: 200%; 
                letter-spacing: 0.64px;
                @media all and (max-width:991px) {
                    font-size: 12px;
                    font-weight: 300; 
                    letter-spacing: 0.48px;
                }
            }
            &.min-margin {
                padding-bottom: 40px;
                @media all and (max-width:991px) {
                    padding-bottom: 20px;
                }
                h2 {
                    margin-top: 40px;
                    @media all and (max-width:991px) {
                        margin-top: 20px;
                    }
                }
                ul {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    grid-gap: 10px;
                    @media all and (max-width:991px) {
                        padding-left: 20px;
                    }
                }
            }
            &.hidden-border {
                border: none;
            }
            &.middle-weight {
                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 200%; 
                    letter-spacing: 0.64px;
                    @media all and (max-width:991px) {
                        font-size: 12px; 
                        letter-spacing: 0.48px;
                    }
                }
            }
        }
    }
    &__banner {
        position: relative;
        @media all and (max-width:991px) {
            overflow: hidden;
        }
        &__in {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #180D2F;
            color: #fff;
            font-size: 18px;
            font-weight: 720;
            line-height: 140%;
            letter-spacing: 1.08px;
            padding: 37px 50px;
            @media all and (max-width:991px) {
                flex-direction: column;
                align-items: flex-start;
                padding: 30px 28px 60px 24px;
            }
            
        }
        &-button-image {
            display: flex;
        }
        &__item {
            display: flex;
            align-items: center;
            &:first-child {
                width: 37%;
                @media all and (max-width:991px) {
                    width: 100%;
                    margin-bottom: 46px;
                    align-items: flex-start;
                }
            }
            @media all and (max-width:991px) {
                flex-direction: column;
            }
            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: inherit;
                padding: 12px;
                border: 1px solid #C3BECD;
                grid-gap: 10px;
                @media all and (max-width:991px)  {
                    font-size: 11px;
                    font-weight: 720;
                    line-height: 140%; 
                    letter-spacing: 0.44px;
                }
                &:first-child {
                    margin-right: 46px;
                    @media all and (max-width:991px) {
                        margin-right: 0;
                        margin-bottom: 10px;
                        width: 128px;
                    }
                }
                &:last-child {
                    @media all and (max-width:991px) {
                        width: 146px;
                    }
                }
            }
            
            &.article-banner-image {
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translate(50%, 0%); 
                img:last-child {
                    display: none;
                }   
                @media all and (max-width:991px) {
                    img:first-child {
                        display: none;
                    } 
                    img:last-child {
                        display: block;
                    }
                    position: absolute;
                        bottom: 0;
                        right: 0;
                        transform: none;
                    
                }            
            }
        }
    }
    &__slider {
        position: relative;
    }
    &__slider-item:not(.glide__slide--active) {
        opacity: 0.3;
    }
    &__slider__arrows {
        .arrow__slider {
            width: 28px;
            height: 28px;
            font-size: 0;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            img {
                @media all and (max-width:991px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .arrow__slider--next {
            left: 70px;
            @media all and (max-width:991px) {
                left: 10px;
            }
        }
        .arrow__slider--prev {
            right: 70px;
            @media all and (max-width:991px) {
                right: 10px;
            }
        }
    }
}
