.page-tabs {
    color: #180D2F;
    margin-bottom: 40px;
    @media all and (max-width: 1280px) {
        margin-bottom: 20px;
    }
    &__item {
        padding: 10px;
        border: 1px solid #787088;
        font-size: 16px;
        font-weight: 720;
        line-height: 140%;
        letter-spacing: 0.64px;
        text-align: center;
        white-space: nowrap;
        position: relative;
        display: inline-block;

        @media all and (max-width:991px) {
            font-size: 11px;
            letter-spacing: 0.44px;
            padding: 8px;
            padding: 12px 20px;
        }
    }
    &__list {
        margin: 0;
        display: flex;
        overflow: auto;
        grid-gap: 16px;
        position: relative;
        padding-bottom: 8px;
        &::-webkit-scrollbar {
            height: 3px;
            border-radius: 5px;
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #180D2F;
            width: 10px;
            height: 3px;
            border-radius: 5px;
        }
    }
}