<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/adv-banner/adv-banner.html", {
            "image_link": "http://placehold.it/1520x260"
        })
        <div class="content__wrap">
            <div class="content__wrap-in center">
                <main class="content__main">
                    @@include("../blocks/modules/breadcrumbs/breadcrumbs.html", {
                        "name": "Главная",
                        "subname": "Эмитенты"
                     })
                     @@include("../blocks/modules/page-tabs/page-tabs.html")
                     <div class="pages-list__top">
                        <div class="pages-list__title">Эмитенты</div>
                    </div>
                    <div class="emitents-page__items">
                        @@include("../blocks/modules/emitents-tabs/emitents-tabs.html")
                    </div>
                    <div class="search__button-all">
                        <div class="search__button-all-in">
                            Еще 20 материалов
                        </div>
                    </div>
                </main>
                <aside class="content__aside">
                    @@include("../blocks/modules/info-links/info-links.html")
                    @@include("../blocks/modules/adv-banner/adv-banner.html", {
                        "image_link": "http://placehold.it/335x564"
                    })
                    @@include("../blocks/modules/adv-banner/adv-banner.html", {
                        "image_link": "http://placehold.it/335x564"
                    })
                    <div class="content__aside--info-links">
                        @@include("../blocks/modules/info-links/info-links.html")
                    </div>
                    @@include("../blocks/modules/adv-banner/adv-banner.html", {
                        "image_link": "http://placehold.it/335x564"
                    })
                </aside>
            </div>
        </div>
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>