.pages-list {
    &__title {
        font-size: 44px;
        font-style: normal;
        font-weight: 720;
        line-height: 120%;
        color: #180D2F;
        margin-bottom: 40px;
        @media all and (max-width:991px) {
            font-size: 17px;
            line-height: 140%; 
            letter-spacing: 1.02px;
            margin-bottom: 20px;
        }
    }
}
.search {
    &__answer {
        font-size: 16px;
        font-style: normal;
        font-weight: 720;
        line-height: 140%;
        color: #180D2F;
        margin-bottom: 40px;
        @media all and (max-width:991px) {
            font-size: 11px;
            letter-spacing: 0.44px;
            margin-bottom: 7px;
        }
    }
    &__list {
        margin-bottom: 40px;
        @media all and (max-width:991px) {
            margin-bottom: 30px;
        }
    }
    &__list-info {
        margin-top: 20px;
    }
    &__list-item {
        padding: 21px 0;
        border-top: 1px solid #180D2F;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width:991px) {
            flex-direction: column;
            padding: 24px 0 20px 0;
        }
        &:last-child {
            border-bottom: 1px solid #180D2F;
        }
        &:first-child {
            @media all and (max-width:991px) {
                border-top: none;
            }
        }
        &-image {
            max-width: 335px;
        }
        &-description {
            width: calc(100% - 335px - 60px);
            margin-left: 60px;
            padding: 19px 0;
            @media all and (max-width:991px) {
                width: 100%;
                margin-left: 0;
            }
        }
        &-title {
            color: #1B1D31;
            font-size: 18px;
            font-weight: 720;
            line-height: 140%;
            letter-spacing: 1.08px;
            margin-bottom: 17px;
            @media all and (max-width:991px) {
                font-size: 11px;
                letter-spacing: 0.44px;
            }
        }
        &-text {
            font-size: 12px;
            font-weight: 200;
            line-height: 180%; 
            letter-spacing: 0.48px;
            @media all and (max-width:991px) {
                font-size: 10px;
                letter-spacing: 0.6px;
            }
        }
    }
    &__button-all {
        border: 1px solid #C3BECD;
        padding: 19px 0;
        text-align: center;
        cursor: pointer;
        &-in {
            max-width: 190px;
            margin: 0 auto;
            position: relative;
            font-size: 16px;
            font-weight: 720;
            line-height: 140%; 
            letter-spacing: 0.64px;
            color: #787088;
            @media all and (max-width:991px) {
                font-size: 12px;
                letter-spacing: 0.72px;
            }
            &::after {
                content: "";
                width: 5px;
                height: 8px;
                background: url("/img/arrow-button-all.svg") 0 0/contain no-repeat;
                position: absolute;
                top: 41%;
                right: 0;
            }
        }
    }
}

.search__list:not(.isOpened) .search__list-item:nth-of-type(n+8) {
    display: none;
}
