.hero-banner {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
    @media all and (max-width: 1280px) {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &--big {
        min-height: 520px;
        @media all and (max-width: 1280px) {
            min-height: auto;
            padding-top: 200px;
        }
    }
    &--small {
        min-height: 100%;
        @media all and (max-width: 1280px) {
            min-height: auto;
            padding-top: 200px;
        }
    }
    &--info_small {
        padding: 20px;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 0;
        z-index: 1;
        pointer-events: none;
        transition: all .3s ease;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    .hero-banner:hover &__image {
        transform: scale(1.1);
    }
    &__in {
        @media all and (min-width: 1281px) {
            position: absolute;
            top: 40px;
            left: 40px;
            right: 40px;
            bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        z-index: 3;
        
        @media all and (max-width: 1280px) {
            position: static;
        }
    }
    &--info_small &__in {
        left: 20px;
        right: 20px;
        bottom: 20px;
        top: 20px;
    }
    &__overlay {
        background: linear-gradient(3deg, #0B0A0A 0%, rgba(11, 10, 10, 0.91) 20.07%, rgba(11, 10, 10, 0.78) 42.21%, rgba(11, 10, 10, 0.00) 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    &__name {
        color: #FFF;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &--big {
            font-size: 44px;
            letter-spacing: 2.64px;
            @media all and (max-width: 1280px) {
                margin-bottom: 16px;
                font-size: 19px;
                letter-spacing: 0.76px;
            }
        }
        &--small {
            font-size: 18px;
            letter-spacing: 1.08px;
            @media all and (max-width: 1280px) {
                margin-bottom: 16px;
                font-size: 19px;
                letter-spacing: 0.76px;
            }
        }
    }
    &__description {
        color: #fff;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 180%;
        letter-spacing: 0.6px;
        margin-top: 18px;
        @media all and (max-width: 1280px) {
            font-size: 10px;
            letter-spacing: 0.6px;
            margin-bottom: 16px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
        @media all and (max-width: 1280px) {
            gap: 20px;
        }
        &--small {
            gap: 20px;
        }
    }
    &__info_item {
        display: flex;
        align-items: center;
        gap: 10px;
        @media all and (max-width: 1280px) {
            gap: 6px;
        }
        &--small {
            gap: 8px;
            @media all and (max-width: 1280px) {
                gap: 6px;
            }
        }
        .icon {
            width: 18px;
            font-size: 0;
            @media all and (max-width: 1280px) {
                width: 12px;
            }
        }
        &--small .icon {
            width: 14px;
            @media all and (max-width: 1280px) {
                width: 12px;
            }
        }
        .text {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0.64px;
            @media all and (max-width: 1280px) {
                font-size: 10px;
                letter-spacing: 0.4px;
            }
        }
        &--small .text {
            font-size: 10px;
            letter-spacing: 0.4px;
        }
    }
    &__info_item:not(:first-child) {
        filter: grayscale(1);
        .text {
            color: rgba(255, 255, 255, 0.60);
        }
    }
    &__mark {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.64px;
        padding: 5px 12px;
        background: #FF002E;
        @media all and (max-width: 1280px) {
            left: 20px;
            top: 20px;
        }
    }
}