<div class="emitents-tabs">
    <div class="emitents-tabs__titles">
        <div class="emitents-tabs__title emitents-tabs__title--active" data-tab_id="1">Акции</div>
        <div class="emitents-tabs__title" data-tab_id="2">Облигации</div>
        <div class="emitents-tabs__title" data-tab_id="3">Валюты</div>
        <div class="emitents-tabs__title" data-tab_id="4">Фонды</div>
        <div class="emitents-tabs__titles_line"></div>
    </div>
    <div class="emitents-tabs__blocks">
        <div class="emitents-tabs__block emitents-tabs__block--active" data-block_id="1">
            <ul class="emitents-tabs__block_tags">
                <li class="emitents-tabs__block_tag emitents-tabs__block_tag--active">Лидеры роста</li>
                <li class="emitents-tabs__block_tag">Потенциал роста</li>
                <li class="emitents-tabs__block_tag">Лидеры падения</li>
                <li class="emitents-tabs__block_tag">Объем торгов</li>
            </ul>
            <div class="emitents-tabs__blocks_emitents">
                @@for ($i = 0; $i < 37; $i++) {
                    <div class="emitents__item">
                        <div class="emitents__bottom_item">
                            <div class="left">
                                <div class="icon">
                                    <img src="http://placehold.it/38x38" alt="">
                                </div>
                                <div class="texts">
                                    <div class="name">Manchester United</div>
                                    <div class="comp">ORCL</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="percent">(+6,79%)</div>
                                <div class="price">$24,99</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="emitents-tabs__block" data-block_id="2">
            <ul class="emitents-tabs__block_tags">
                <li class="emitents-tabs__block_tag emitents-tabs__block_tag--active">Лидеры роста</li>
                <li class="emitents-tabs__block_tag">Потенциал роста</li>
                <li class="emitents-tabs__block_tag">Лидеры падения</li>
                <li class="emitents-tabs__block_tag">Объем торгов</li>
            </ul>
            <div class="emitents-tabs__blocks_emitents">
                @@for ($i = 0; $i < 37; $i++) {
                    <div class="emitents__item">
                        <div class="emitents__bottom_item">
                            <div class="left">
                                <div class="icon">
                                    <img src="http://placehold.it/38x38" alt="">
                                </div>
                                <div class="texts">
                                    <div class="name">Manchester United</div>
                                    <div class="comp">ORCL</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="percent">(+6,79%)</div>
                                <div class="price">$24,99</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="emitents-tabs__block" data-block_id="3">
            <ul class="emitents-tabs__block_tags">
                <li class="emitents-tabs__block_tag emitents-tabs__block_tag--active">Лидеры роста</li>
                <li class="emitents-tabs__block_tag">Потенциал роста</li>
                <li class="emitents-tabs__block_tag">Лидеры падения</li>
                <li class="emitents-tabs__block_tag">Объем торгов</li>
            </ul>
            <div class="emitents-tabs__blocks_emitents">
                @@for ($i = 0; $i < 37; $i++) {
                    <div class="emitents__item">
                        <div class="emitents__bottom_item">
                            <div class="left">
                                <div class="icon">
                                    <img src="http://placehold.it/38x38" alt="">
                                </div>
                                <div class="texts">
                                    <div class="name">Manchester United</div>
                                    <div class="comp">ORCL</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="percent">(+6,79%)</div>
                                <div class="price">$24,99</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="emitents-tabs__block" data-block_id="4">
            <ul class="emitents-tabs__block_tags">
                <li class="emitents-tabs__block_tag emitents-tabs__block_tag--active">Лидеры роста</li>
                <li class="emitents-tabs__block_tag">Потенциал роста</li>
                <li class="emitents-tabs__block_tag">Лидеры падения</li>
                <li class="emitents-tabs__block_tag">Объем торгов</li>
            </ul>
            <div class="emitents-tabs__blocks_emitents">
                @@for ($i = 0; $i < 37; $i++) {
                    <div class="emitents__item">
                        <div class="emitents__bottom_item">
                            <div class="left">
                                <div class="icon">
                                    <img src="http://placehold.it/38x38" alt="">
                                </div>
                                <div class="texts">
                                    <div class="name">Manchester United</div>
                                    <div class="comp">ORCL</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="percent">(+6,79%)</div>
                                <div class="price">$24,99</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>