.emitents-tabs {
    &__titles {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #C3BECD;
        position: relative;
        margin-bottom: 33px;
    }
    &__title {
        min-width: 139px;
        padding: 16px;
        box-sizing: border-box;
        text-align: center;
        color: #6F6B77;
        font-size: 18px;
        font-style: normal;
        font-weight: 720;
        line-height: 140%;
        cursor: pointer;
        transition: all .3s ease;
        user-select: none;
    }
    &__title--active {
        color: #180D2F;
    }
    &__titles_line {
        position: absolute;
        height: 1px;
        bottom: -1px;
        background: #FF002E;
        transition: all .3s ease;
        // width: 100px;
    }
    &__block {
        &:not(.emitents-tabs__block--active) {
            display: none;
        }
    }
    &__block_tags {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 37px;
        gap: 40px;
    }
    &__block_tag {
        padding: 7px 16px;
        background: #F3F3F3;
        color: #180D2F;
        font-size: 12px;
        font-style: normal;
        font-weight: 200;
        line-height: 180%;
    }
    &__block_tag--active {
        background: #180D2F;
        color: #fff;
    }
}