.emitents-tabs {
    &__titles {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #C3BECD;
        position: relative;
        margin-bottom: 33px;
        // overflow: auto;
    }
    &__title {
        min-width: 139px;
        padding: 16px;
        box-sizing: border-box;
        text-align: center;
        color: #6F6B77;
        font-size: 18px;
        font-style: normal;
        font-weight: 720;
        line-height: 140%;
        cursor: pointer;
        transition: all .3s ease;
        user-select: none;
        @media all and (max-width: 1280px) {
            font-size: 12px;
            padding: 10px;
            min-width: auto;
        }
        
    }
    &__title--active {
        color: #180D2F;
    }
    &__titles_line {
        position: absolute;
        height: 1px;
        bottom: -1px;
        background: #FF002E;
        transition: all .3s ease;
        // width: 100px;
    }
    &__block {
        &:not(.emitents-tabs__block--active) {
            display: none;
        }
    }
    &__block_tags {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 37px;
        gap: 10px;
        @media all and (max-width: 1280px) {
            gap: 6px;
            white-space: nowrap;
            overflow: auto;
        }
    }
    &__block_tag {
        padding: 7px 16px;
        background: #F3F3F3;
        color: #180D2F;
        font-size: 12px;
        font-style: normal;
        font-weight: 200;
        line-height: 180%;
        @media all and (max-width: 1280px) {
            padding: 9px;
        }
    }
    &__block_tag--active {
        background: #180D2F;
        color: #fff;
    }
}



.single {
    &__main-stat {
        margin-bottom: 30px;
        color: #787088;
        font-size: 32px;
        font-style: normal;
        font-weight: 720;
        line-height: 140%; /* 44.8px */
        letter-spacing: 1.92px;
        display: flex;
        align-items: center;
        @media all and (max-width: 1280px) {
            font-size: 17px;
            margin-bottom: 5px;
        }
        .middle {
           color: #180D2F;
           margin-left: 20px;
        }
        .right {
            color: #38A743;
            margin-left: 7px;
        }
    }
}

.magazine {
    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px 215px;
        margin-bottom: 40px;
        @media all and (max-width: 1280px) {
            gap: 20px 53px;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        text-decoration: none;
        .icon {
            max-width: 18px;
            min-width: 15px;
            font-size: 0;
        }
        .text {
            color: #787088;
            font-size: 16px;
            font-style: normal;
            font-weight: 720;
            line-height: 140%;
            letter-spacing: 0.64px;
        }
    }
    &__items {
        font-size: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 60px;
        @media all and (max-width: 1280px) {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            overflow: auto;
        }
    }
    &__item {
        @media all and (max-width: 1280px) {
            min-width: 207px;
            max-width: 207px;
        }
    }
}