<div class="emitents-tabs">
    <div class="emitents-tabs__titles">
        <div class="emitents-tabs__title emitents-tabs__title--active" data-tab_id="1">2023</div>
        <div class="emitents-tabs__title" data-tab_id="2">2022</div>
        <div class="emitents-tabs__title" data-tab_id="3">2021</div>
        <div class="emitents-tabs__title" data-tab_id="4">2020</div>
        <div class="emitents-tabs__titles_line"></div>
    </div>
    <div class="emitents-tabs__blocks">
        <div class="emitents-tabs__block emitents-tabs__block--active" data-block_id="1">
            <div class="magazine__buttons">
                <div class="magazine__button">
                    <div class="icon"><img src="img/print.svg" width="100%" alt=""></div>
                    <div class="text">Печатная версия</div>
                </div>
                <div class="magazine__button">
                    <div class="icon"><img src="img/download.svg" width="100%" alt=""></div>
                    <div class="text">Электронная версия</div>
                </div>
            </div>
            <div class="magazine__items">
                @@for ($i = 0; $i < 8; $i++) {
                    <a href="#" class="magazine__item">
                        <img src="http://placehold.it/335x435" width="100%" alt="">
                    </a>
                }
            </div>
        </div>
        <div class="emitents-tabs__block" data-block_id="2">
            <div class="magazine__buttons">
                <div class="magazine__button">
                    <div class="icon"><img src="img/print.svg" width="100%" alt=""></div>
                    <div class="text">Печатная версия</div>
                </div>
                <div class="magazine__button">
                    <div class="icon"><img src="img/download.svg" width="100%" alt=""></div>
                    <div class="text">Электронная версия</div>
                </div>
            </div>
            <div class="magazine__items">
                @@for ($i = 0; $i < 5; $i++) {
                    <a href="#" class="magazine__item">
                        <img src="http://placehold.it/335x435" width="100%" alt="">
                    </a>
                }
            </div>
        </div>
        <div class="emitents-tabs__block" data-block_id="3">
            <div class="magazine__buttons">
                <div class="magazine__button">
                    <div class="icon"><img src="img/print.svg" width="100%" alt=""></div>
                    <div class="text">Печатная версия</div>
                </div>
                <div class="magazine__button">
                    <div class="icon"><img src="img/download.svg" width="100%" alt=""></div>
                    <div class="text">Электронная версия</div>
                </div>
            </div>
            <div class="magazine__items">
                @@for ($i = 0; $i < 3; $i++) {
                    <a href="#" class="magazine__item">
                        <img src="http://placehold.it/335x435" width="100%" alt="">
                    </a>
                }
            </div>
        </div>
        <div class="emitents-tabs__block" data-block_id="4">
            <div class="magazine__buttons">
                <div class="magazine__button">
                    <div class="icon"><img src="img/print.svg" width="100%" alt=""></div>
                    <div class="text">Печатная версия</div>
                </div>
                <div class="magazine__button">
                    <div class="icon"><img src="img/download.svg" width="100%" alt=""></div>
                    <div class="text">Электронная версия</div>
                </div>
            </div>
            <div class="magazine__items">
                @@for ($i = 0; $i < 14; $i++) {
                    <a href="#" class="magazine__item">
                        <img src="http://placehold.it/335x435" width="100%" alt="">
                    </a>
                }
            </div>
        </div>
    </div>
</div>