body {
    font-family: 'Hauss', sans-serif;
}
body,
html {
    scroll-behavior: smooth;
}
.center {
    width: 100%;
    max-width: 1560px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    @media all and (max-width: 1280px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}


.content {
    &__wrap-in {
        display: flex;
        @media all and (max-width: 1280px) {
            display: block;
        }
    }
    &__main {
        width: calc(100% - 335px - 60px);
        @media all and (max-width: 1280px) {
            width: 100%;
        }
        &--full {
            width: 100%;
        }
    }
    &__aside {
        width: 335px;
        margin-left: 60px;
        @media all and (max-width: 1280px) {
            width: 100%;
            margin-left: 0;
        }
    }
}

.global {
    &__block-title {
        color: #191919;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 1.92px;
        @media all and (max-width: 1280px) {
            font-size: 17px;
            letter-spacing: 1.02px;
        }
    }
}

.content__aside .adv-banner__in {
    padding-left: 0;
    padding-right: 0;
}
.content__row {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 960px) {
        flex-direction: column;
        gap: 20px;
    }
}
.content__row-small {
    width: 335px;
    @media all and (max-width: 960px) {
        width: 100%;
    }
}
.content__row-big {
    width: calc(100% - 335px - 60px);
    @media all and (max-width: 960px) {
        width: 100%;
    }
}
.content__row-small .news-list__item {
    width: 100%;
}
.content__row-big .news-list__item {
    width: 100%;
}
.content__row-big_row {
    display: flex;
    gap: 60px;
    @media all and (max-width: 960px) {
        flex-direction: column;
        gap: 20px;
    }
}
.content__row-big_item {
    width: calc(50% - 30px);
    @media all and (max-width: 960px) {
        width: 100%;
    }
}

.content__aside--no_padding_top .adv-banner:first-child {
    padding-top: 0;
}

.hide_on_tablet {
    @media all and (max-width: 1280px) {
        display: none !important;
    }
}
.hide_on_desktop {
    @media all and (min-width: 1281px) {
        display: none !important;
    }
}


.single-course {
    &__in {
        padding-bottom: 40px;
        border-bottom: 1px solid #180D2F;
        @media all and (max-width: 1280px) {
            padding-bottom: 0;
        }
        &:not(:last-child) {
            margin-bottom: 40px;
            @media all and (max-width: 1280px) {
                margin-bottom: 20px;
            }
        }
    }
    &__image {
        font-size: 0;
        margin-bottom: 60px;
        @media all and (max-width: 1280px) {
            margin-bottom: 40px;
        }
    }
    &__title {
        margin-bottom: 20px;
        
    }
    &__text {
        color: #191919;
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: 200%; /* 32px */
        letter-spacing: 0.64px;
        margin-bottom: 60px;
        @media all and (max-width: 1280px) {
            font-size: 12px;
            margin-bottom: 18px;
        }
        &--edge {
            margin-bottom: 0;
        }
        strong {
            font-weight: 800;
        }
        ul {
            padding-left: 20px;
            li:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__subtitle {
        color: #191919;
        font-size: 16px;
        font-style: normal;
        font-weight: 720;
        line-height: 200%; /* 32px */
        letter-spacing: 0.64px;
        padding-bottom: 20px;
        @media all and (max-width: 1280px) {
            font-size: 12px;
        }
    }
}
@media all and (min-width: 1281px) {
    .content__aside .adv-banner {
        padding-bottom: 0;
    }

    .content__aside .info-links:last-child {
        padding-top: 40px;
        padding-bottom: 40px;

    }
}

@media all and (max-width: 1280px) {
    .content__aside {
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
    }
    .content__wrap-in.center .content__aside {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }
    .content__aside .info-links:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content__row .news-list:last-child {
        margin-bottom: 0 !important;
    }
}